#page{
    padding: 0 0 9rem; 
}

.contact{
    color: rgb(6, 6, 147);
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}
.info{
    color: blue;
   margin-top:10px ; 
    box-sizing: border-box;
    text-align: left;
    margin-left: 150px;
    font-size: 45px;
    font-weight: 500px;
    line-height:3;
    font-family: 'Times New Roman', Times, serif;   
}
.ico{
    justify-content: space-between;
    color: rgb(7, 7, 7);

}
.ms{
   
    font-size: 20px;
    width: 50%;
    line-height:3;
    text-align: left;
    margin-left: 160px;
    color: rgb(65, 3, 107);
}
.llleft{
    width: 50%;
    position: absolute;
    top: 5rem;
    margin-left: 900px;
    margin-top: 20%;
}
.rrright{
    border:1px solid rgb(240, 231, 231) ;
    width: 50%;
    display: block;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
     margin-top: 50px;
     margin-left:50px;
     background-color: #f8f8fa;
     box-shadow: 0px  10px 20px ;
}
.form{
    display: inline-block;
    background-color: hsl(30, 3%, 62%);
    box-shadow:   0px  10px 20px;
    margin: 40px auto;
    max-width: 400px;
    max-height: 800px;
    padding: 40px;
    

    border:1px solid #09090a;
}
.form input, textarea{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    font-family:'Times New Roman', Times, serif;
background-color: #f8eaea;
border: 1px solid #0f0e0e;
}
.bn{
    background-color: #8c8b94;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 1000;
      margin-left: 30px;
      margin-top: 5px;
      padding: 8px 16px;
      font-size: 20px;
      box-shadow: 0 2px 4px;
    
}
.h{
    font-family: 'Times New Roman', Times, serif;  
    text-align: center;
    font-size: 30px;
}

